.btn-primary {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 20px;
  border-radius: 10px;
  border: 1px solid #2A2A3A;
  background: #1A1A24;
  color: #F0F0FF;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.btn-primary:hover {
  border-color: #6C63FF;
  box-shadow: 0 0 16px #6C63FF44;
}

.rounded{
  border-radius: 50%;
  padding: 15px;
  justify-content: center;
}